<select id="church">
    <option value="Vasakyrkan">Vasakyrkan</option>
    <option value="Masthuggskyrkan">Masthuggskyrkan</option>
    <option value="Gårdstenskyrkan">Gårdstenskyrkan</option>
    <option value="Kortedalskyrkan">Kortedalskyrkan</option>
</select>

<select id="party">
    <option value="Arbetarepartiet">Arbetarepartiet</option>
    <option value="Borgerligapartiet">Borgerligapariet</option>
    <option value="Centerpartiet">Centerpartiet</option>
    <option value="Flowerpower">Flowerpower</option>
    <option value="Högerpartiet">Högerpartiet</option>
    <option value="Järnrörsparitet">Järnrörsparitet</option>
    <option value="Mittemellanpartiet">Mittemellanpartiet</option>
    <option value="Vänsterpartiet">Vänsterpartiet</option>
</select>