<html>
{{> header}}

<style>
    #left {
        width: 40%;
        display: inline-block;
    }
    #right {
        width: 55%;
        display: inline-block;
        vertical-align: top;
    }
    #results {
        height: 99%;
        border-right: 2px solid black;
    }
    #simul, #vote, #report {

    }
    iframe {
        border: none;
        border-top: 2px solid black;
        display: inline;
        width: 100%;
        height: 33%;
    }
</style>
<body>

    <div id="left">
        <iframe src="/results" id="results" height="100%" width="50%"></iframe>
    </div>
    <div id="right">
        <iframe src="/simulate" id="simul"></iframe>
        <iframe src="/vote" id="vote"></iframe>
        <iframe src="/report" id="report"></iframe>
    </div>

</body>
</html>