<html>
{{> header}}

<body>
    <h1>
        <a href="/report" target="_parent">Church Bulk Report</a>
    </h1>

    <div id="main">
            <fieldset>
            <legend>Polling station report</legend>
            <p>
                <label>Batch report for</label>
                {{> dropdowns}}

                <input id="count" placeholder="Enter number of votes" />
                <button>Send batch</button>
            </p>
            </fieldset>
    </div>

    {{> cdnjs}}

    <script>
        let $ = (selector) =>
        {
            this.els = Array.from(document.querySelectorAll(selector));
            if (!this.els) console.warn('$ no matches for: ' + selector);
            else if (selector.indexOf('#') > -1) return this.els[0];
            else return this.els;
        };

        let main = () => {
            let socket = io();

            document.querySelector('button').addEventListener('click', () =>
            {
                let payload = {};

                payload.party  = $('#party').options[$('#party').selectedIndex].value;
                payload.church = $('#church').options[$('#church').selectedIndex].value;
                payload.count = +$('#count').value || 1;

                let question = `You entered: ${payload.party} (${payload.church}) ${payload.count} votes.\n\nShould this data be sent?`;
                if (!confirm(question)) return;

                socket.send(payload);   console.log("Vote sent!", payload);
                $('#main').innerHTML = `<p>God thanks you for your service today! <a href="/report">Go back</a></p>`;

            });
        };

        document.addEventListener('DOMContentLoaded', main);
    </script>
</body>
</html>
